<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/login.css">

</head>

<body>
    <h1 class="jj">Welcome to E-Feedback System</h1>
    <div class="container">
        <div class="center">
            <a href="/hod_login" ><h1 class="s">HOD login</h1></a>
            <a href="/faculty_login"><h1 class="s">Faculty login</h1></a>
            <a href="/student_login"><h1 class="s">Student login</h1></a>
           
        </div>
    </div>

</body>

</html>